/* start var */
:root{
    --main-color:#7D0A0A;
    --main-transition:0.3s;
    --main-padding:100px;
}
/* end var */
/* start component */
.special-heading{
    text-align: center;
    font-size: 100px;
    color: #ebeced;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
 }
 .special-heading + p {
     margin: -30px 0;
     font-size: 20px;
     text-align: center;
     color: #797979;
     --main-transition:0.3s;
     --main-padding:100px;
 }
/* end component */
/*global rules */
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Montserrat",sans-serif;
}
.parent{
    background-color: #eee;
}
.container{
    padding-left:15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/* small screen */

@media (min-width: 768px){
    .container{
        width: 750px;
    }
    
}
/* mid screen */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
    
}
/* large screen */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* end Global Rules */
/* start header */
.header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow:0 0 10px #ddd;
    -moz-box-shadow:0 0 10px #ddd;
    position: relative;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.header .logo{
    width:60px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:767px){
    .header .logo{
        width: 25px;
    }

}
.header .main-nav{
    display: flex;
}
@media(max-width:767px){
    .header .main-nav{
        margin: auto;
    }

}
.header .main-nav >li >a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: var(--main-color);
    padding: 0 30px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    overflow: hidden;
}
@media(max-width:767px){
    .header .main-nav >li >a{
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
.header .main-nav >li >a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header .main-nav >li >a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.header .main-nav >li >a:hover::before{
    left: 0;
}

/* end header */
.landing{
    background-image: url(../imgs/abstract-red-smooth-wave-lines_1017-24867.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;

}
/* end landing section */
/* start timer */
.timer{
    padding-top: var(--main-padding) ;
    padding-bottom: var(--main-padding);
    overflow: hidden;
}
.timer .container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 150px;
    margin: 0;
    background-color: #f5f5f5;
}
.timer .container .timer-t{
    width: 900px;
}
.special-heading-t {
    text-align: center !important;
    font-size: 100px !important;
    color: #ebeced !important;
    font-weight: 800 !important;
    letter-spacing: -3px !important;
    margin: 0 !important;
}

.special-heading-t + p {
    margin: -30px 0 !important;
    font-size: 20px !important;
    text-align: center !important;
    color: #797979 !important;
    margin-bottom: -128px !important;
}

.counter {
    display: flex !important;
    background-color: white !important;
    padding: 20px !important;
    padding-top: 170px !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    gap: 24px !important;
}

.counter-item {
    background-color: var(--main-color) !important;
    color: white !important;
    padding: 15px !important;
    border-radius: 8px !important;
    min-width: 196px !important;
    text-align: center !important;
}
.counter-value {
    font-size: 1.8rem !important;
    font-weight: bold !important;
}

.counter-label {
    font-size: 0.8rem !important;
    margin-top: 5px !important;
}

/* Responsive styles */
@media (max-width: 767px) {
    .special-heading-t {
        font-size: 60px !important;
    }
    
    .special-heading-t + p {
        margin-top: -20px !important;
        font-size: 12px !important;
    }
    
    
    .timer-t {
        width: 360px !important;
        margin: 20px !important;
    }
    
    .counter-item {
        padding: 6px !important;
        border-radius: 8px !important;
        min-width: 60px !important;
    }
    
    .counter-value {
        font-size: 1.6rem !important;
        font-weight: bold !important;
    }
    
    .counter-label {
        font-size: 0.6rem !important;
        margin-top: 5px !important;
    }
}
/* end timer */
/* start moments */
.special-heading-m{
    text-align: center;
    font-size: 100px;
    color: #ebeced;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
 }
 .special-heading-m + p {
     margin: -30px 0;
     font-size: 20px;
     text-align: center;
     color: #797979;
 } 
.services{
    padding-top: var(--main-padding) ;
    padding-bottom: var(--main-padding);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(370px,1fr));
    grid-gap: 55px;
    margin-top: 150px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
    
}
.services .services-content .srv .text h3{
    margin: 0 -36px 20px;
}
.services .services-content .srv .text p{
    font-family: "Rakkas",sans-serif;
    color: #777;
    font-weight: 300;
    line-height: 1.8;
    font-size: 35px;
    margin: 0;
    text-align: right;
}
.services .services-content .image{
    text-align: center;
    position: relative;
}
.services .services-content .image::before{
    content: "";
    background-color: var(--main-color);
    width: 200px;
    height: calc(100% + 80px);
    top: -40px;
    position: absolute;
    right: 25px;
    z-index: -1;
}
.services .services-content .image img{
    width: 340px;
    height: 340px;
}
@media(max-width: 1199px){
    .image-column{
        display: none;
    }
}
@media (max-width:767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
        width: 400px;
    }
    .services .services-content .srv i{
        margin-left: -46px;
        padding-top: 30px;
    }
    .services .services-content .srv .text p{
        width: 340px;
        font-size:20px;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        padding: -17px;
        padding: 5px 35px;
        margin: 0px -10px;
    }
    .services .services-content .srv .text h3{
        width: 330px;
        padding-left: 120px;
        margin-left: -55px;
    }
    .special-heading-m{
        font-size: 60px;
        margin-left: 0px;
    }
    .special-heading-m + p{
        margin-top: -20px;
        font-size: 12px;
        margin-left: 15px;
    }
}
/* end moments */
/* start portfolio */
.portfolio{

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img{
    max-width:100% ;
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
    margin: 0;
}
.portfolio .portfolio-content .card .info p{
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}
@media(max-width:767px){
    .special-heading{
        font-size: 60px;
        margin-left: -1px;
    }
    .special-heading + p{
        margin-top: -20px;
        font-size: 12px;
        margin-left: -8px;
    }
}
   

  
/* end portfolio */
/* start about  */
.about{
    padding-top: 60px;
    padding-bottom: 120px;
}
.about .about-content {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 210px;
    height: 345px;

}
@media(max-width:991px){
    .about .about-content .image{
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 75px);
    top: -60px;
    left: -14px;
    z-index: -1;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 190px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -33px;

}
@media(max-width:991px){
    .about .about-content .image::before,
    .about .about-content .image::after{
        display: none;
    }

}
.about .about-content .image img {
    max-width:100% ;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    font-family: "Rakkas",sans-serif;
    font-size: 35px;
    text-align: right;

}
@media(max-width:767px){
    .about .about-content .text p:first-of-type{
        font-size: 24px;
        text-align: center;
        margin-right: 43px;
        margin-left: 47px;
    
    }
    .about .about-content .image-2 img{
        top: -20px;
    }
}
.about .about-content .image-2 img{
    max-width: 100%;
    left: 0;
    position: relative;
    width: 350px;
    top: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
.about .about-content .text .p{
    line-height: 2;
    color: #777;
    padding-left: 80px;
    text-transform:uppercase ;
}
.about .about-content .text hr{
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}
/* end about  */
/* start contact */
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}
.contact .info .social i{
    margin-left: 10px;
    color: #2c4755;
}
@media(max-width: 767px){
    .contact .info .link,
    .contact .info .label{
        font-size: 25px;
    }
}
/* end contact */
/* start footer */
.footer{
    background-color: var(--main-color);
    color: white;
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}
/* end footer */